body{
    font-family: sans-serif;
    background-color: #fff;
}

header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 3em;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.5em;
}

footer{
    background-color: #ccc;
    padding: 20px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}